/* General container styling */
.reservation-detail {
  padding: 20px;
}

.details-container {
  display: flex;
  justify-content: space-between;
}

.reservation-info, .user-info {
  flex: 1;
  margin-right: 20px;
}

.user-info {
  margin-right: 0;
}

/* Cancel Button Styles */
.cancel-button {
  background-color: #f44336; /* Red background */
  color: white; /* White text */
  border: none;
  padding: 15px 30px; /* Bigger button */
  font-size: 16px; /* Larger text */
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  margin-top: 20px;
}

.cancel-button:hover {
  background-color: #d32f2f; /* Darker red on hover */
}

/* Update Button Styles */
.update-button {
  background-color: #4caf50; /* Green background */
  color: white; /* White text */
  border: none;
  padding: 15px 30px; /* Bigger button */
  font-size: 16px; /* Larger text */
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  margin-top: 20px;
}

.update-button:hover {
  background-color: #388e3c; /* Darker green on hover */
}

/* Complete Button Styles */
.complete-button {
  background-color: #2196f3; /* Blue background */
  color: white; /* White text */
  border: none;
  padding: 15px 30px; /* Bigger button */
  font-size: 16px; /* Larger text */
  cursor: pointer;
  border-radius: 5px; /* Rounded corners */
  margin-top: 20px;
}

.complete-button:hover {
  background-color: #1976d2; /* Darker blue on hover */
}

/* Update Form Popup Styles */
.update-form-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: white;
  border: 1px solid #ccc;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.update-form-popup h2 {
  margin-top: 0;
}

.update-form-popup form {
  display: flex;
  flex-direction: column;
}

.update-form-popup label {
  margin-bottom: 10px;
}

.update-form-popup input, 
.update-form-popup select {
  padding: 10px;
  font-size: 16px;
  margin-top: 5px;
}

.update-form-popup .form-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.update-form-popup .form-buttons button {
  flex: 1;
  margin: 0 5px;
}
